<!-- partial:partials/_page-header.html -->
<!-- partial -->

<!-- partial:partials/_header.html -->
<!-- partial -->

<!-- partial:partials/_common.html -->
<!-- partial -->
<div class=" contain container-fluid ">
  <div id="prioritize" class="prior row">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->

    <!-- partial:partials/_percent-info.html -->
    <!-- partial -->

    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->
    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->
    <!-- partial:partials/_info-box.html -->
    <!-- partial -->
  </div>
  <br>
  <div id="prevent" class="prior row">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->

    <!-- partial:partials/_percent-info.html -->
    <!-- partial -->
    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->
    <!-- partial:partials/_info-box.html -->
    <!-- partial -->
  </div>
  <br>
  <div id="prevent" class="prior row">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->

    <!-- partial:partials/_percent-info.html -->
    <!-- partial -->
    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->
  </div>
  <br>
  <div id="decrease" class="prior row">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->
  </div>
</div>
<br>
<div class="sepration">
  <!-- partial:partials/_common.html -->
  <!-- partial -->
</div>
<!-- partial:partials/_page-footer.html -->
<!-- partial -->
