<!-- partial:partials/_page-header.html -->
<!-- partial -->

<!-- partial:partials/_header.html -->
<!-- partial -->

<!-- partial:partials/_common.html -->
<!-- partial -->
<div class="container">
  <div id="prioritize" class="prior">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->

    <!-- partial:partials/_percent-info.html -->
    <!-- partial -->

    <!-- partial:partials/_info-multi.html -->
    <!-- partial -->
  </div>
  <div id="prevent" class="prior">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->

    <!-- partial:partials/_percent-info.html -->
    <!-- partial -->
  </div>
  <div id="decrease" class="prior">
    <!-- partial:partials/_first-tile.html -->
    <!-- partial -->

    <!-- partial:partials/_info-box.html -->
    <!-- partial -->
  </div>
</div>
<div class="sepration">
  <!-- partial:partials/_common.html -->
  <!-- partial -->
</div>
<!-- partial:partials/_page-footer.html -->
<!-- partial -->
