<!-- partial:partials/_page-header.html -->
<!-- partial -->
<!-- partial:partials/_header.html -->
<!-- partial -->
<!-- partial:partials/_common.html -->
<!-- partial -->
<div class="contain container-fluid">
  <div class="row tile-A">
    <div class="col-lg-6">
      <div id="tileA11" class="tile-A11 row">
        <!-- partial:partials/_plantFirst.html -->
        <!-- partial -->
        <!-- partial:partials/_info-box.html -->
        <!-- partial -->
        <!-- partial:partials/_info-box.html -->
        <!-- partial -->
      </div>
      <div class="row tile-A21">
        <div id="prioritize" class="prior">
          <!-- partial:partials/_first-tile.html -->
          <!-- partial -->
          <!-- partial:partials/_info-box.html -->
          <!-- partial -->
          <!-- partial:partials/_info-box.html -->
          <!-- partial -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 tile-A12">
      <!-- partial:partials/_pichart.html -->
      <!-- partial -->
    </div>
  </div>
</div>
<div class="contain container-fluid">
  <div class="barContainer">
    <!-- partial:partials/_barFirst.html -->
    <!-- partial -->
    <!-- partial:partials/_barGraph.html -->
    <!-- partial -->
  </div>
</div>
<!-- partial:partials/_page-footer.html -->
<!-- partial -->
