<!-- partial:partials/_page-header.html -->
<!-- partial -->
<!-- partial:partials/_header.html -->
<!-- partial -->
<!-- partial:partials/_common.html -->
<!-- partial -->
<div class="contain container-fluid">
  <div class="row plate-container">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <p>
        The wellness plate gives a snapshot of how an average plate in your café
        stacks up to global guidelines for a balanced diet that is both good for
        people and planet as outlined in the EAT-Lancet Commission Report. This
        is not a strict indicator, but a helpful guide to opportunities to shift
        menu mix to a plant-forward balance. <br />
        <br />
        By the colors:
      </p>
      <p>
        · a full green circle means the component meets the recommended goal
        <br />
        · a full yellow circle means the component exceeds the maximum goal
        <br />
        · a partial yellow circle means the component is under the minimum goal
      </p>
    </div>
    <div class="col-lg-12 text-center">
      *Animal protein recommendations from EAT-Lancet are more aggressive than
      our companywide plant-forward commitment. We will challenge ourselves to
      push past our current commitment gradually.
    </div>
  </div>
</div>
<div class="sepration">
  <!-- partial:partials/_common.html -->
  <!-- partial -->
</div>
<div class="contain container-fluid">
  <div class="row tile-B">
    <div class="col-lg-6 left-container">
      <div id="tileB11" class="tile-B11 row">
        <!-- partial:partials/_plantFirst.html -->
        <!-- partial -->
        <!-- partial:partials/_wellnessStat.html -->
        <!-- partial -->
        <!-- partial:partials/_wellnessStat.html -->
        <!-- partial -->
      </div>
      <div class="row tile-B21">
        <div id="prioritize" class="prior">
          <!-- partial:partials/_first-tile.html -->
          <!-- partial -->
          <!-- partial:partials/_wellnessPercent.html -->
          <!-- partial -->
          <!-- partial:partials/_wellnessStat.html -->
          <!-- partial -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 tile-B12">
      <!-- partial:partials/_squarePi.html -->
      <!-- partial -->
    </div>
  </div>
  <div class="wellness-bar-container row">
    <div>
      <!-- partial:partials/_wellnessBarTile1.html -->
      <!-- partial -->
    </div>
    <div>
      <!-- partial:partials/_wellnessPercent.html -->
      <!-- partial -->
      <!-- partial:partials/_wellnessStat.html -->
      <!-- partial -->
      <!-- partial:partials/_wellnessStat.html -->
      <!-- partial -->
      <div class="col-lg-12 bargraph-container"></div>
    </div>
  </div>
</div>
<!-- partial:partials/_page-footer.html -->
<!-- partial -->
