<div class="suppliers">
    <div class="row">
        <div class="chart-title supplier col-lg-2">PREFERRED PRODUCTS AND SUPPLIERS</div>
        <div class="col-lg-10 wrapper">
            <div class="row">
                <div class="amount-section col-lg-3">
                    <div class="heading">Title</div>
                    <div class="amount red"><p class="amount-value1">$180.00</p></div>
                </div>
                <div class="amount-section col-lg-3">
                    <div class="heading">Title</div>
                    <div class="amount green"><p class="amount-value2">$180.00</p></div>
                </div>
                <div class="purchasing-data col-lg-6">
                    <div class="heading">something is gonna be here</div>
                    <div class="purchasing-charts-container">
                        <div class="data-container">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                        <div class="data-container">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                        <div class="data-container">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                    </div>
                </div>
                <div class="report-button col-lg-3">
                    <div class="heading">DOWNLOAD FLAVOR FIRST REPORT</div>
                </div>
            </div>
        </div>
    </div>
</div>