<div class="chart-section-container">
    <div class="row">
        <div class="chart-title cor col-lg-2">ADHERENCE TO COR STANDARDS</div>
        <div class="blocks-section1 col-lg-2">
            <div class="charts col-lg-6 col-xs-4"></div>
        </div>
        <div class="blocks-section2 col-lg-8">
            <div class="heading">something is gonna be here</div>
            <div class="charts-container">
                <div class="row">
                    <div class="charts col-lg-1 col-xs-4"></div>
                    <div class="charts col-lg-1 col-xs-4"></div>
                    <div class="charts col-lg-1 col-xs-4"></div>        
                    <div class="charts col-lg-1 col-xs-4"></div>
                    <div class="charts col-lg-1 col-xs-4"></div>
                    <div class="charts col-lg-1 col-xs-4"></div>
                    <div class="charts col-lg-1 col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
