<div class="suppliers">
    <div class="row">
        <div class="chart-title supplier col-lg-2">
           <p>PREFERRED PRODUCTS AND SUPPLIERS</p> 
            <div><i class="fas fa-info-circle info-icon supplier-title-info"></i></div>
        </div>
        <div class="col-lg-10 wrapper">
            <div class="row">
                <div class="amount-section col-lg-3">
                    <div class="heading">Title</div>
                    <div class="amount red"><p class="amount-value1">$180.00</p></div>
                    <div><i class="fas fa-info-circle info-icon amount-section1-info"></i></div>
                </div>
                <div class="amount-section col-lg-3">
                    <div class="heading">Title</div>
                    <div class="amount green"><p class="amount-value2">$180.00</p></div>
                    <div><i class="fas fa-info-circle info-icon amount-section2-info"></i></div>
                </div>
                <div class="purchasing-data col-lg-6">
                    <div class="heading">something is gonna be here</div>
                    <div class="purchasing-charts-container row">
                        <div class="data-container col-xs-12">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                        <div class="data-container col-xs-6">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                        <div class="data-container col-xs-6">
                            <div class="charts"></div>
                            <div class="about">total</div>
                        </div>
                    </div>
                    <div><i class="fas fa-info-circle info-icon purchasing-chart-info"></i></div>
                </div>
                <div class="report-button col-lg-3">
                    <div class="heading">DOWNLOAD FLAVOR FIRST REPORT</div>
                </div>
            </div>
        </div>
    </div>
</div>