<div class="purchases-container">
    <div class="row">
        <div class="chart-title purchase col-lg-2">20% OF PURCHASES FARM TO FORK</div>
        <div class="purchase-chart col-lg-2">
            <div class="heading">heading is here</div>
            <div class="chart-description heading">description</div>
            <div class="charts-wrapper"><div class="charts"></div>
            <div class="title">Title</div>
            <div class="charts"></div>
            <div class="title">Title</div></div>
        </div>
        <div class="purchase-graph-container col-lg-8">
            <div class="heading">something is gonna be here</div>
        </div>
    </div>
</div>
