<div class="header">
    <div class="header-logo-container">
        <i class="fas fa-arrow-circle-left"></i>
        <div class="header-logo">
            TEMPLTES 25555
        </div>
        <div class="logo-subtext" >
            <div class="header-logo-text1">FY: 21 PERIOD: 6<i class="fas fa-chevron-circle-down"></i></div>
            <div class="header-logo-text2">02/26/2021 - 03/25/2021</div>
        </div>    
    </div>
    <div class="header-tabs affectedDiv">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active first"><a data-toggle="tab" href="#home">THE DREAMS & FOOD STANDARDS</a></li>
            <li><a data-toggle="tab" data-target="puchasing.html">PURCHASING</a>
                <div class='battery'>
                    <div class='bar' data-power='10'></div>
                    <div class='bar' data-power='20'></div>
                    <div class='bar' data-power='30'></div>
                    <div class='bar' data-power='40'></div>
                    <div class='bar' data-power='50'></div>
                    <div class='bar' data-power='60'></div>
                    <div class='bar' data-power='70'></div>
                    <div class='bar' data-power='80'></div>
                    <div class='bar' data-power='90'></div>
                    <div class='bar' data-power='100'></div>
                </div>
            </li>
            <li><a data-toggle="tab" href="#climate-change">CLIMATE CHANGE</a>
                <div class='battery'>
                    <div class='bar' data-power='10'></div>
                    <div class='bar' data-power='20'></div>
                    <div class='bar' data-power='30'></div>
                    <div class='bar' data-power='40'></div>
                    <div class='bar' data-power='50'></div>
                    <div class='bar' data-power='60'></div>
                    <div class='bar' data-power='70'></div>
                    <div class='bar' data-power='80'></div>
                    <div class='bar' data-power='90'></div>
                    <div class='bar' data-power='100'></div>
                </div>
            </li>
            <li><a data-toggle="tab" href="#plant-forward">PLANT FORWARD</a>
                <div class='battery'>
                    <div class='bar' data-power='10'></div>
                    <div class='bar' data-power='20'></div>
                    <div class='bar' data-power='30'></div>
                    <div class='bar' data-power='40'></div>
                    <div class='bar' data-power='50'></div>
                    <div class='bar' data-power='60'></div>
                    <div class='bar' data-power='70'></div>
                    <div class='bar' data-power='80'></div>
                    <div class='bar' data-power='90'></div>
                    <div class='bar' data-power='100'></div>
                </div>
            </li>
            <li><a data-toggle="tab" href="#wellness">WELLNESS</a>            
                <div class='battery'>
                    <div class='bar' data-power='10'></div>
                    <div class='bar' data-power='20'></div>
                    <div class='bar' data-power='30'></div>
                    <div class='bar' data-power='40'></div>
                    <div class='bar' data-power='50'></div>
                    <div class='bar' data-power='60'></div>
                    <div class='bar' data-power='70'></div>
                    <div class='bar' data-power='80'></div>
                    <div class='bar' data-power='90'></div>
                    <div class='bar' data-power='100'></div>
                </div>
            </li>
        </ul>
    </div> 
</div>
