<div class="details-container">
    <div class="show-details-on-hover">
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
        <div class="col-lg-2 col-xs-5 hidden-content">
            <div class="title">Title</div>
            <div class="description">some description about the product this is just for testing</div>
        </div>
    </div>
</div>
