<div class="multi-tile text-center">
  <div class="multi-title">Text here</div>
  <div class="multi-body">
    <div class="multi-group">
      <div class="multi-units">Lorem ipsum dolor sit amet.</div>
      <div class="multi-units">Lorem, ipsum dolor.</div>
      <div class="multi-units">Lorem, ipsum dolor.</div>
      <div class="multi-units">Lorem, ipsum dolor.</div>
      <div class="multi-units bg-green">
        Lorem ipsum dolor sit, amet
      </div>
    </div>
    <div id="overlay-multi">multi description</div>
  </div>
</div>
