<div class="col-lg-2 multi-tile text-center">
  <div class="multi-title">Text here</div>
  <div class="multi-body">
    <div class="multi-group">
      <div class="multi-units">Lorem ipsum dolor sit amet.</div>
      <div class="multi-units bg-green">Lorem, ipsum dolor.</div>
      <div class="multi-units">Lorem, ipsum dolor.</div>
      <div class="multi-units">Lorem, ipsum dolor.</div>
      <div class="multi-units bg-green">
        Lorem ipsum dolor sit, amet
      </div>
    </div>
  </div>
  <div class="overlay-multi">This is "info-multi"</div>

</div>
