<div class="section-container" id="repeat">
    <div class="chart-title col-lg-2">Here Goes The Title</div>
    <div class="description col-lg-10">
        <ul>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
            <li>Menus are written based on seasonality and availability of regional fresh ingredients.</li>
        </ul>
    </div>
</div>