body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 80%;
}

.container-body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #a3f3e2, #2dbebe, #028181);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* The sidepanel links */
  /* When you mouse over the navigation links, change their color */
}
.container-body .calender {
  width: 460px;
  background-color: #00001a;
  box-shadow: 5px 5px 10px black;
}
.container-body .calender .month {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  border-bottom: 2px solid #00e6b8;
}
.container-body .calender .month i {
  font-size: 20px;
  cursor: pointer;
  color: #00e6b8;
}
.container-body .calender .month .date .month-name, .container-body .calender .current-year-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  color: #00e6b8;
  cursor: pointer;
}
.container-body .calender .week-days {
  display: flex;
  padding: 20px 0px;
}
.container-body .calender .week-days div {
  width: calc(460px/8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-body .calender .days-container {
  display: flex;
}
.container-body .calender .days-container #week-number .week {
  width: 57.5px;
  height: 60px;
  color: #34b7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container-body .calender .days {
  display: flex;
  flex-wrap: wrap;
  width: 403.3px;
}
.container-body .calender .days div {
  width: calc(402.5px/7);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px #302f2f;
}
.container-body .calender .prev-days, .container-body .calender .next-days {
  opacity: 0.3;
}
.container-body .calender .sunday {
  color: #fa642d;
}
.container-body .calender .event {
  border-radius: 50%;
  border: 2px solid red;
  box-sizing: border-box;
  color: red;
}
.container-body .calender .today {
  border: 2px solid #00e6b8;
  box-sizing: border-box;
}
.container-body .calender .days div:hover:not(.week-number):not(.event) {
  box-sizing: border-box;
  border: 2px solid white;
}
.container-body .sidepanel {
  height: 0;
  width: 460px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  background-color: #00001a;
  /* Black*/
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 5px 5px 5px #353535;
  text-align: center;
  transform: scaleX(1);
}
.container-body .sidepanel #years {
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  transition: 0.3s;
  cursor: pointer;
  height: 115px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}
.container-body .sidepanel #icon1 .next {
  margin: 0;
  padding: 0;
}
.container-body .sidepanel #icon1, .container-body #icon2 {
  font-size: 20px;
}
.container-body .sidepanel #years .year-name {
  width: calc(460px/5);
  height: calc(115px/2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-body .sidepanel #years div:hover {
  color: #f1f1f1;
}
.container-body .sidepanel #years::-webkit-scrollbar {
  display: none;
}

.modal {
  top: 10%;
}
.modal .modal-dialog {
  color: #00e6b8;
  box-shadow: 5px 5px 10px black;
}
.modal .modal-dialog .modal-header {
  display: block;
}
.modal .modal-dialog .modal-content {
  background-color: #00001a;
}
.modal .modal-dialog .modal-content .modal-body p {
  letter-spacing: 1px;
  line-height: 30px;
}
.modal .modal-dialog .modal-content #modal-title {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .container-body {
    width: 100%;
  }
  .container-body .calender {
    width: 300px;
  }
  .container-body .calender .month {
    height: 15%;
  }
  .container-body .calender .month .date .month-name, .container-body .calender .month .date .current-year-name {
    font-size: 25px;
  }
  .container-body .calender .days-container #week-number .week {
    width: 37.5px;
    height: 30px;
  }
  .container-body .calender .days div {
    width: calc(262.5px/7);
    height: 30px;
  }
  .container-body .sidepanel {
    width: 300px;
  }
  .container-body .sidepanel #years {
    height: 80px;
  }
  .container-body .sidepanel #years .year-name {
    width: calc(300px/5);
    height: 40px;
    font-size: 15px;
  }
  .container-body .modal {
    width: 80%;
    top: 10%;
    left: 10%;
  }
}
@media screen and (min-width: 768px) {
  .container-body .calender .month {
    height: 15%;
  }
  .container-body .calender .sidepanel #years {
    height: 160px;
  }
  .container-body .calender .sidepanel #years .year-name {
    width: calc(460px/5);
    height: 80px;
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
