.header {
  height: 100px;
  display: flex;
  background: #EDEDED;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 500px) {
    .header {
      display: block;
      height: 78px;
      background: transparent; } }
  .header .header-logo-container {
    color: black;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-transform: uppercase; }
    @media screen and (max-width: 500px) {
      .header .header-logo-container {
        margin: 10px; } }
    .header .header-logo-container .header-logo {
      font-size: 25px;
      font-weight: bolder; }
      @media screen and (max-width: 500px) {
        .header .header-logo-container .header-logo {
          font-size: 20px; } }
    .header .header-logo-container .header-logo-text {
      font-size: 10px;
      margin-left: 10px;
      align-items: center; }
  .header .header-tabs {
    margin: 0px 40px; }
    @media screen and (max-width: 500px) {
      .header .header-tabs {
        margin: 0;
        background: #EDEDED; } }

.nav {
  border: none; }
  @media screen and (max-width: 500px) {
    .nav {
      display: flex;
      justify-content: space-between; } }
  @media screen and (max-width: 500px) {
    .nav li {
      height: 40px; } }
  .nav li a {
    top: 30px;
    color: black;
    height: 58px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold; }
    @media screen and (max-width: 500px) {
      .nav li a {
        top: 0px;
        height: 40px;
        font-size: 5px; } }
  .nav .first a {
    width: 164px; }
    @media screen and (max-width: 500px) {
      .nav .first a {
        width: 70px; } }

.battery {
  text-align: center;
  position: relative;
  margin-top: 5px; }
  @media screen and (max-width: 500px) {
    .battery {
      bottom: 25px;
      margin-top: 2px; } }
  .battery .bar {
    display: inline-block;
    padding: 2px;
    height: 15px;
    background: #E35E56;
    margin: 0; }
    @media screen and (max-width: 500px) {
      .battery .bar {
        padding: 1px;
        height: 10px; } }
  .battery .bar.active {
    background: #63BF87; }

.section-container {
  padding: 20px 100px 0px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    .section-container {
      display: block;
      padding: 20px 30px 0px; } }
  .section-container .chart-title {
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center; }
  .section-container .description {
    background: #EDEDED;
    padding: 20px;
    margin-left: 20px; }
    @media screen and (max-width: 500px) {
      .section-container .description {
        margin-left: 0px;
        margin-top: 5px;
        font-size: 10px; } }

.chart-section-container {
  border: 2px solid white;
  margin: 20px 100px; }
  @media screen and (max-width: 500px) {
    .chart-section-container {
      margin: 20px 40px; } }
  .chart-section-container .row {
    margin: 0;
    display: flex; }
    @media screen and (max-width: 500px) {
      .chart-section-container .row {
        display: block; } }
    .chart-section-container .row .chart-title {
      border: 5px solid #EDEDED;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      padding: 20px; }
    .chart-section-container .row .blocks-section {
      border: 5px solid #EDEDED;
      margin: 2px;
      text-align: center; }
      .chart-section-container .row .blocks-section .heading {
        margin-top: 5px; }
      .chart-section-container .row .blocks-section .charts-container {
        padding: 20px 0px; }
        .chart-section-container .row .blocks-section .charts-container .row {
          margin: 0;
          text-align: center;
          display: flex;
          justify-content: space-between; }
          @media screen and (max-width: 500px) {
            .chart-section-container .row .blocks-section .charts-container .row {
              display: block; } }
          .chart-section-container .row .blocks-section .charts-container .row .charts {
            height: 60px;
            border-radius: 50%;
            border: 5px solid green; }
            @media screen and (max-width: 500px) {
              .chart-section-container .row .blocks-section .charts-container .row .charts {
                display: inline-block;
                float: none;
                margin: 5px; } }

.common-section {
  color: white;
  background-color: black; }
  .common-section .text {
    margin-left: 85px;
    padding: 10px; }

.paragraph-container {
  background: #EDEDED;
  font-style: italic;
  padding: 15px 85px; }

.dream-container .main-title {
  padding: 10px 100px;
  background-color: black;
  color: white;
  font-size: 18px; }
  @media screen and (max-width: 500px) {
    .dream-container .main-title {
      padding: 10px 20px;
      font-size: 12px; } }

.dream-container .paragraph {
  text-align: center;
  padding: 40px 100px;
  font-style: italic;
  font-size: 18px;
  line-height: 30px; }
  @media screen and (max-width: 500px) {
    .dream-container .paragraph {
      padding: 20px 20px;
      line-height: 20px;
      text-align: left;
      background: #EDEDED;
      font-size: 12px; } }

.dream-container .tabs-icon {
  margin-bottom: 40px;
  display: flex;
  padding: 0px 130px;
  justify-content: space-between;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .dream-container .tabs-icon {
      margin: 25px;
      display: block;
      padding: 0px; } }
  .dream-container .tabs-icon div {
    width: 180px;
    height: 180px;
    border: 5px solid #EDEDED;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .dream-container .tabs-icon div {
        width: 140px;
        height: 140px;
        display: inline-block;
        float: none;
        margin: 0px 0px 10px 10px; } }
    .dream-container .tabs-icon div i {
      color: black;
      margin-top: 40px;
      font-size: 60px; }
      @media screen and (max-width: 500px) {
        .dream-container .tabs-icon div i {
          margin-top: 25px;
          font-size: 50px; } }
    .dream-container .tabs-icon div p {
      font-weight: bold; }
      @media screen and (max-width: 500px) {
        .dream-container .tabs-icon div p {
          font-size: 8px; } }
