@import "_variables";
@import "_hover";
.chart-section-container {
    border: 2px solid white;
    margin: 20px 100px;
    @media screen and (max-width: 500px) {
        margin: 20px 40px;
    }
    .row {
        margin: 0;
        display: flex;
        @media screen and (max-width: 500px) {
            display: block;
        }
        .chart-title {
            border: 5px solid $border-dark;
            background-color: $strip-black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $font-color;
            padding: 20px;
        }
        .blocks-section {
            border: 5px solid $border-dark;
            margin: 2px;
            text-align: center;
            .heading {
                margin-top: 5px;
            }
            .charts-container {
                padding: 20px 0px;
                .row {
                    margin: 0;
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 500px) {
                        display: block;
                    }
                    .charts {
                        height: 60px;
                        border-radius: 50%;
                        border: 5px solid green;
                        @media screen and (max-width: 500px) {
                            display: inline-block;
                            float: none;
                            margin: 5px;
                        }
                    }
                }         
            }
        }
    }
}