.multi-tile {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border-top: 5px solid #ededed;
  border-right: 5px solid #ededed;
  border-bottom: 5px solid #ededed;

  .multi-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 18pt;
    text-transform: uppercase;
    line-height: 18pt;
    margin: 5px 15px;

  }
  .multi-body {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-transform: uppercase;

    .multi-group {
      width: 100%;
      height: auto;
      display: flex;
      margin: 0px;
      flex-flow: row wrap;
      justify-content: center;
    }
    .multi-units {
      display: flex;
      width: 120px;
      height: 38px;
      border: 2px solid #ededed;
      font-size: 11px;
      line-height: 11pt;
      margin: 5px 5px;
      flex-flow: column wrap;
      justify-content: center;
    }
    .bg-green {
      background-color: #63bf87;
      color: #ffffff;
      border: 0;
    }
    #overlay-multi {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      padding-top: 24px;
      background-color: white;
      z-index: 2;
      font-size: 15px;
      justify-content: center;
      flex-flow: column nowrap;
      color: black;
    }
  }
  
}
