$background: #EDEDED;
$strip-black: black;
$font-color: white;
$progress-success: #63BF87;
$progress-default: #E35E56;
$border-dark: #EDEDED;
$margin-left: 40px;
$padding-left: 100px;
$font-size: 18px;
$view-width : 5vw ;
@font-face {
    font-family: agenda-ultra-condensed;
    src: url(../app/output/fonts/ufonts.com_agenda-boldultracondensed.ttf);
  }