$background: #EDEDED;
$strip-black: black;
$font-color: white;
$progress-success: #63BF87;
$progress-default: #E35E56;
$border-dark: #EDEDED;
$margin-left: 40px;
$padding-left: 40px;
$font-size: 18px;